<div class="w-75 mx-auto">
  <div class="d-flex justify-content-start m-5 align-items-center">
    <%= image_tag @user.icon.attached? ? @user.icon : '/placeholder.png', class: "img-thumbnail rounded-circle me-5", style: 'height:auto;width:200px;' %>
    <section class="mx-5">
      <div class="mb-3">
        <span class="h4 me-3"><%= @user.username %></span>
        <span>
          <% if @user.eql?(current_user) %>
            <%= link_to "プロフィールを編集", edit_user_path(current_user.username), class: "btn btn-outline-secondary" %>
          <% elsif current_user&.following?(@user.id) %>
            <%= link_to 'フォロー中', follow_path(@user), data: { turbo_method: :delete }, class: "btn btn-secondary btn-sm" %>
          <% else %>
            <%= link_to 'フォローする', follows_path(user_id: @user.id), data: { turbo_method: :post }, class: "btn btn-primary btn-sm" %>
          <% end %>
        </span>
      </div>
      <div class="mb-3">
        <span class="me-3">投稿<%= @user.posts.size %>件</span>
        <span class="me-3">フォロワー<%= @user.followers.size %>人</span>
        <span class="me-3">フォロー中<%= @user.followings.size %>人</span>
      </div>
      <div>
        <p class="h4"><%= @user.fullname %></p>
        <p class="me-3"><%= @user.introduction %></p>
      </div>
    </section>
  </div>
  <hr class="w-100">
  <div class="container mt-5">
    <div class="row">
      <%= render MyPostComponent.with_collection(@user.posts) %>
    </div>
  </div>
</div>