<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-white border-bottom">
      <div class="container-fluid d-flex mx-auto w-75">
        <%= link_to 'instaclone', root_path, class: "navbar-brand" %>
        <section>
          <span class="me-3">
            <%= link_to  root_path, style: "text-decoration: none" do %>
              <i class="bi bi-house-door h4 text-black"></i>
            <% end %>
          </span>
          <span class="me-3"><i class="bi bi-chat-text h4"></i></span>
          <span class="me-3">
            <%= link_to  new_post_path, style: "text-decoration: none" do %>
              <i class="bi bi-plus-square h4 text-black"></i>
            <% end %>
          </span>
          <span class="me-3"><i class="bi bi-compass h4"></i></span>
          <span class="me-3"><i class="bi bi-heart h4"></i></span>
          <% if logged_in? %>
            <span><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %></span>
          <% else %>
            <span><%= link_to "ログイン", login_path %></span>
          <% end %>
        </section>
      </div>
    </nav>
    <%= flash_message %>
    <%= yield %>
  </body>
</html>
